[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
requests = "*"
gunicorn = "*"
"psycopg2" = "==2.7.1"
pygmail = "==0.0.5.4"
sendgrid = "==3.6.3"
Flask-Session = "*"
Flask = "*"
Markdown = "*"

[requires]
python_version = "3.6"
