<!doctype html>
{% import 'helper_macros.html' as helpers %}
<html class="no-js" lang="en">
    <head>
        <title>FAQ | Kharagpur Winter of Code</title>
        {{ helpers.title() }}
    </head>
    <body>
        <!-- navigation panel -->
        {{ helpers.navigation_panel() }} 
        <!--end navigation panel -->
        <!-- content section -->
        <section class="wow fadeIn bg-black">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12 wow fadeInUp center-col text-center">
                        <h1 class="white-text">Hello, how can we help you?</h1>
                    </div>
                </div>
            </div>
        </section>
        <section class="wow fadeIn">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="col-md-12 col-sm-12 no-padding">
                            <div class="margin-ten no-margin-top sm-margin-bottom-seven">
                                <p class="text-large font-weight-800 black-text"><i class="icon-desktop large-icon vertical-align-middle"></i> General </p>
                            </div>
                            <div class="panel-group toggles-style3 no-border">
                                <!-- faq item -->
                                <div class="panel panel-default" id="collapse-one">
                                    <div role="tablist" id="headingOne" class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#collapse-one" href="#collapse-one-link1"><h4 class="panel-title">I do not have any prior knowledge of git  and/or &nbsp any programming language. Can I do this?<span class="pull-right"><i class="fa fa-plus"></i></span></h4></a>
                                    </div>
                                    <div id="collapse-one-link1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Absolutely. This program specially is made for people like you who want to learn. We,the mentors, will help you wherever possible.
                                        </div>
                                    </div>
                                </div>
                                <!-- end faq item -->
                                <!-- faq item -->
                                <div class="panel panel-default">
                                    <div role="tablist" id="headingTwo" class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#collapse-one" href="#collapse-one-link2"><h4 class="panel-title">Where does KWoC occur? Do I need to stay in Kharagpur?<span class="pull-right"><i class="fa fa-plus"></i></span></h4></a>
                                    </div>
                                    <div id="collapse-one-link2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Kharagpur Winter of Code occurs entirely online , there is no requirement of staying back in the campus.
                                        </div>
                                    </div>
                                </div>
                                <!-- end faq item -->
                                <!-- faq item -->
                                <div class="panel panel-default">
                                    <div role="tablist" id="headingThree" class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#collapse-one" href="#collapse-one-link3"><h4 class="panel-title">What is the purpose of this program? Is this some kind of internship?<span class="pull-right"><i class="fa fa-plus"></i></span></h4></a>
                                    </div>
                                    <div id="collapse-one-link3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            No, this is just a program which helps the students to learn how to contribute in the open-source world. This activity prepares you for programs like Google Summer of Code.
                                        </div>
                                    </div>
                                </div>
                                <!-- end faq item -->

                                 <!-- faq item -->
                                <div class="panel panel-default">
                                    <div role="tablist" id="headingThree" class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#collapse-one" href="#collapse-one-link4"><h4 class="panel-title"> Can I participate in KWoC as both a mentor and a student?<span class="pull-right"><i class="fa fa-plus"></i></span></h4></a>
                                    </div>
                                    <div id="collapse-one-link4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            A student can work on any project as long as his work is evaluated/ reviewed by a KWoC mentor.
                                        </div>
                                    </div>
                                </div>
                                <!-- end faq item -->



                                 <!-- faq item -->
                                <div class="panel panel-default">
                                    <div role="tablist" id="headingThree" class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#collapse-one" href="#collapse-one-link5"><h4 class="panel-title">What can I do to help spread the word about KWoC?<span class="pull-right"><i class="fa fa-plus"></i></span></h4></a>
                                    </div>
                                    <div id="collapse-one-link5" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Please visit our facebook page : KOSS and share our posts. You can also share the link of our website : KWoC. We would be very happy if you do that.
                                        </div>
                                    </div>
                                </div>
                                <!-- end faq item -->



                                 <!-- faq item -->
                                <div class="panel panel-default">
                                    <div role="tablist" id="headingThree" class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#collapse-one" href="#collapse-one-link6"><h4 class="panel-title">What if I have a question not answered in this FAQ?<span class="pull-right"><i class="fa fa-plus"></i></span></h4></a>
                                    </div>
                                    <div id="collapse-one-link6" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Please make sure to read the website. If after reading through it you still don't have an answer please consider reaching out to our page.
                                        </div>
                                    </div>
                                </div>
                                <!-- end faq item -->

                                 <!-- faq item -->
                                <div class="panel panel-default">
                                    <div role="tablist" id="headingThree" class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#collapse-one" href="#collapse-one-link7"><h4 class="panel-title">What are the start and end dates of the programme?<span class="pull-right"><i class="fa fa-plus"></i></span></h4></a>
                                    </div>
                                    <div id="collapse-one-link7" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Check the timeline
                                        </div>
                                    </div>
                                </div>
                                <!-- end faq item -->

                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 no-padding">
                            <div class="margin-ten sm-margin-bottom-seven">

                            </div>
                            <div class="panel-group toggles-style3 no-border">



                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-12 col-md-offset-1">
                        <div class="col-md-12 col-sm-12 no-padding">
                            <div class="margin-ten no-margin-top sm-margin-top-ten sm-margin-bottom-seven">
                                <p class="text-large font-weight-800 black-text"><i class="icon-laptop large-icon vertical-align-middle"></i> Students</p>
                            </div>
                            <div class="panel-group toggles-style3 no-border">
                               <!-- faq item -->
                                <div class="panel panel-default" id="collapse-three">
                                    <div role="tablist" id="type1-headingOne" class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#collapse-three" href="#collapse-three-link1"><h4 class="panel-title">Can I show the contributions that I have made in KWoC for participating in any competitions?<span class="pull-right"><i class="fa fa-plus"></i></span></h4></a>
                                    </div>
                                    <div id="collapse-three-link1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                           All the contributions that you will make in KWoC will be displayed on your GitHub timeline. So, that is a big plus if you are participating in any competitions and your github profile is on display.
                                        </div>
                                    </div>
                                </div>
                                <!-- end faq item -->
                                <!-- faq item -->
                                <div class="panel panel-default">
                                    <div role="tablist" id="type1-headingTwo" class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#collapse-three" href="#collapse-three-link2"><h4 class="panel-title"> Can I apply if I am not a student of IIT Kharagpur?<span class="pull-right"><i class="fa fa-plus"></i></span></h4></a>
                                    </div>
                                    <div id="collapse-three-link2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Sure! Anyone with a knack of coding and is begining his/her Open Source journey is very well welcome. The only pre-requiste is a bit of enthusiasm.</br>Checkout this <a href="https://www.quora.com/What-is-the-prerequisite-for-participating-in-Kharagpur-Winter-of-Code/answer/Pranit-Bauva">Quora Answer</a> by Pranit Bauva for more info.
                                        </div>
                                    </div>
                                </div>
                                <!-- end faq item -->
                                <!-- faq item -->
                                <div class="panel panel-default">
                                    <div role="tablist" id="type1-headingThree" class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#collapse-three" href="#collapse-three-link3"><h4 class="panel-title">Is there any eligibility criteria?<span class="pull-right"><i class="fa fa-plus"></i></span></h4></a>
                                    </div>
                                    <div id="collapse-three-link3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            There is no strict eligibility criteria as such. At the end of the day, you need to be a beginner at Open Source contributions and the will to learn.
                                        </div>
                                    </div>
                                </div>
                                <!-- end faq item -->
                                <!-- faq item -->
                                <div class="panel panel-default">
                                    <div role="tablist" id="type1-headingFour" class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#collapse-three" href="#collapse-three-link4"><h4 class="panel-title">When should I apply?<span class="pull-right"><i class="fa fa-plus"></i></span></h4></a>
                                    </div>
                                    <div id="collapse-three-link4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            The last date of student registration is 14th December. That means you can apply anytime before that. But to take the maximum out of it, apply before 1st December.
                                        </div>
                                    </div>
                                </div>
                                <!-- end faq item -->
                                <!-- faq item -->
                                <div class="panel panel-default">
                                    <div role="tablist" id="type1-headingFour" class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#collapse-three" href="#collapse-three-link5"><h4 class="panel-title">Can you provide me any advice so that I can start preparing for it beforehand?<span class="pull-right"><i class="fa fa-plus"></i></span></h4></a>
                                    </div>
                                    <div id="collapse-three-link5" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Play around git and github. Create an account on GitHub, set up git on your machine and start experimenting with it.
                                        </div>
                                    </div>
                                </div>
                                <!-- end faq item -->
                                <!-- faq item -->
                                <div class="panel panel-default">
                                    <div role="tablist" id="type1-headingFour" class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#collapse-three" href="#collapse-three-link6"><h4 class="panel-title">What are my chances of receiving a position in KWoC?<span class="pull-right"><i class="fa fa-plus"></i></span></h4></a>
                                    </div>
                                    <div id="collapse-three-link6" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Pretty fair ! You need to be working for the whole month regardless of your expertise level.
                                        </div>
                                    </div>
                                </div>
                                <!-- end faq item -->
                                <!-- faq item -->
                                <div class="panel panel-default">
                                    <div role="tablist" id="type1-headingFour" class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#collapse-three" href="#collapse-three-link7"><h4 class="panel-title">Are their any other similar kind of programme that I might find of interest?<span class="pull-right"><i class="fa fa-plus"></i></span></h4></a>
                                    </div>
                                    <div id="collapse-three-link7" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            If you mean similar to KWoC, then this is the second time anything like this is happening in KGP. If you mean similar to GSoC, then look around, there are plenty of them e.g. KDE summer of code, Outreachy, Rails summer of code, etc.
                                        </div>
                                    </div>
                                </div>
                                <!-- end faq item -->
                                <!-- faq item -->
                                <div class="panel panel-default">
                                    <div role="tablist" id="type1-headingFour" class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#collapse-three" href="#collapse-three-link8"><h4 class="panel-title">How much time in a day do I need to give for KWoC?<span class="pull-right"><i class="fa fa-plus"></i></span></h4></a>
                                    </div>
                                    <div id="collapse-three-link8" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            GSoC requires 40 hours per week in summers. For KWoC, you may give 1-2 hours daily and that includes conversation with your mentor(s). More the project you choose, more time in conversing about the work.
                                        </div>
                                    </div>
                                </div>
                                <!-- end faq item -->
                                <!-- faq item -->
                                <div class="panel panel-default">
                                    <div role="tablist" id="type1-headingFour" class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#collapse-three" href="#collapse-three-link9"><h4 class="panel-title">Will I receive a certificate at the end of the KWoC ?<span class="pull-right"><i class="fa fa-plus"></i></span></h4></a>
                                    </div>
                                    <div id="collapse-three-link9" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            If you remain with us till the end of the program, then you'll most likely receive a certificate for completion of the prgram.
                                        </div>
                                    </div>
                                </div>
                                <!-- end faq item -->

                                <!-- faq item -->
                                <div class="panel panel-default">
                                    <div role="tablist" id="type1-headingFour" class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#collapse-three" href="#collapse-three-link10"><h4 class="panel-title"> Which programming language(s) do I need to be fluent in?<span class="pull-right"><i class="fa fa-plus"></i></span></h4></a>
                                    </div>
                                    <div id="collapse-three-link10" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Sky is the limit. You need to see the programming languages of the listed projects. But we recommend you one or more than one of Python, C++, JAVA and Javascript.
                                        </div>
                                    </div>
                                </div>
                                <!-- end faq item -->

                                <!-- faq item -->
                                <div class="panel panel-default">
                                    <div role="tablist" id="type1-headingFour" class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#collapse-three" href="#collapse-three-link11"><h4 class="panel-title">Will taking part in KWoC help me in being a part of KOSS?<span class="pull-right"><i class="fa fa-plus"></i></span></h4></a>
                                    </div>
                                    <div id="collapse-three-link11" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Of course yes! :)
                                        </div>
                                    </div>
                                </div>
                                <!-- end faq item -->

                                <!-- faq item -->
                                <div class="panel panel-default">
                                    <div role="tablist" id="type1-headingFour" class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#collapse-three" href="#collapse-three-link12"><h4 class="panel-title"> Whom should I contact or clear my doubts if my mentor is temporarily unavailable?<span class="pull-right"><i class="fa fa-plus"></i></span></h4></a>
                                    </div>
                                    <div id="collapse-three-link12" class="panel-collapse collapse">
                                        <div class="panel-body">
                                           Contact us ASAP. Write to kossiitkgp@gmail.com.
                                        </div>
                                    </div>
                                </div>
                                <!-- end faq item -->

                                <!-- faq item -->
                                <div class="panel panel-default">
                                    <div role="tablist" id="type1-headingFour" class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#collapse-three" href="#collapse-three-link13"><h4 class="panel-title">Can I work on more than one project?<span class="pull-right"><i class="fa fa-plus"></i></span></h4></a>
                                    </div>
                                    <div id="collapse-three-link13" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Yes sure! You can even work parallely on them.
                                        </div>
                                    </div>
                                </div>
                                <!-- end faq item -->

                                <!-- faq item -->
                                <div class="panel panel-default">
                                    <div role="tablist" id="type1-headingFour" class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#collapse-three" href="#collapse-three-link14"><h4 class="panel-title">Are there any deadlines during the session? Are those deadlines strict? What if I am unable to meet them due to some unavoidable reasons?<span class="pull-right"><i class="fa fa-plus"></i></span></h4></a>
                                    </div>
                                    <div id="collapse-three-link14" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            See the timeline for deadlines. In any case, make sure you keep us informed.
                                        </div>
                                    </div>
                                </div>
                                <!-- end faq item -->

                                <!-- faq item -->
                                <div class="panel panel-default">
                                    <div role="tablist" id="type1-headingFour" class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#collapse-three" href="#collapse-three-link15"><h4 class="panel-title"> Will this programme help me in improving competitive coding skills or get selected for ACM ICPC?<span class="pull-right"><i class="fa fa-plus"></i></span></h4></a>
                                    </div>
                                    <div id="collapse-three-link15" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            This question is very debatable. Participating in Open Source contribution will improve your skills on software development and of a particular programming language. Depending on your project, you might be able to use some of the algorithms too. But direct implications on ICPC will not be very helpful.

                                        </div>
                                    </div>
                                </div>
                                <!-- end faq item -->

                                <!-- faq item -->
                                <div class="panel panel-default">
                                    <div role="tablist" id="type1-headingFour" class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#collapse-three" href="#collapse-three-link16"><h4 class="panel-title">What are the minimum contributions I &nbsp have to do to get successfully recognized as to have completed the programme?<span class="pull-right"><i class="fa fa-plus"></i></span></h4></a>
                                    </div>
                                    <div id="collapse-three-link16" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            You need to have at least 3 Pull requests merged by the end of the program.
                                        </div>
                                    </div>
                                </div>
                                <!-- end faq item -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end content section -->

        <!-- footer -->
        <footer>
            {{ helpers.pre_footer() }}
            <!-- footer_final -->
            {{ helpers.end_footer() }}
            <!-- end footer_final -->

            <!-- scroll to top -->
            <a href="javascript:;" class="scrollToTop"><i class="fa fa-angle-up"></i></a>
            <!-- scroll to top End... -->
        </footer>
        <!-- end footer -->

        <!-- javascript libraries -->
        {{ helpers.js_libraries() }}
    </body>
</html>
