<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="user-scalable = no">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Custom css -->
    <link href="/static/css/resources.css" rel="stylesheet" type="text/css">
    <title>FAQ | Kharagpur Winter of Code | KOSS</title>

    <style type="text/css">
      #faqs a {
        font-size: 18px;
      }

      .faq-q {
        font-size: 20px;
        font-weight: bold;
        padding-top: 8px;
      }

      .faq-a {
        font-size: 18px;
        padding-bottom: 8px;
      }
    </style>
  </head>

  <body style="color:white;background-color:rgb(0, 5, 34); font-family: 'montserrat-regular', sans-serif;">

    <div style=" background-color:black; height: 80px;" class="nav-wrapper z-depth-1">
      <div class="row">
        <div class="container">
          <div align="right" style="padding-top: 20px" class="col s1">
            <img src ="/static/img/kwoc_logo.png" style = "width:60px; height: 60px; display:inline;">
          </div>
          <div style="padding-top: 40px;">
            <div class="col s4" style="color: white; font-size: 18px; font-weight: bold; letter-spacing: 1px; ">KHARAGPUR <b>WINTER OF CODE</b>
            </div>
            <div align="right">
              <a href="/" style="color: white; font-size: 18px; font-weight: bold;">HOME</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="padding-top: 50px;">
      <div class="row">
        <div class="col s2" style="background-color: rgb(247, 247, 247);">
          <br>
          <a style="color: black" href="/resources">Resources</a><br>
          <a style="color: black" href="/resources/timeline">Timeline</a><br>
          <a style="color: black" href="/resources/manuals">Manuals</a><br>
          <a style="color: black" href="/resources/social">Social Groups</a><br>
          <a style="color: black" href="/resources/media">Media</a><br>
          <a href="/resources/faq">FAQ</a><br>
          <a style="color: black" href="/resources/contact">Contact</a><br>
          <br>
        </div>

        <div class="col s9 offset-s1">
          <a style="color: white; font-size: 36px">Frequently Asked Questions</a>
          <div id="faqs" class="row" style="padding-top: 40px">
            <div class="col s12">
              <div style="font-size: 28px; padding-bottom: 5px;">General</div>
              </font>
              <a href="#g1">• I do not have any prior knowledge of git and/or any programming language. Can I do this?</a><br>
              <a href="#g2">• Where does KWoC occur? Do I need to stay in Kharagpur?</a><br>
              <a href="#g3">• Is this some kind of internship?</a><br>
              <a href="#g4">• Can I participate in KWoC as both a mentor and a student?</a><br>
              <a href="#g5">• What can I do to help spread the word about KWoC?</a><br>
              <a href="#g6">• What if I have a question not answered in this FAQ?</a><br>
              <a href="#g7">• What are the start and end dates of the programme?</a>
              <div style="font-size: 28px; padding-bottom: 5px;">Students</div>
              </font>
              <a href="#s1">• Can I show the contributions that I have made in KWoC for participating in any competitions?</a><br>
              <a href="#s2">• Can I apply If I am not a student of IIT Kharagpur?</a><br>
              <a href="#s3">• Is there any eligibility criteria?</a><br>
              <a href="#s4">• When should I apply?</a><br>
              <a href="#s5">• Can you provide me any advice so that I can start preparing for it beforehand?</a><br>
              <a href="#s6">• What are my chances of receiving a position in KWoC?</a><br>
              <a href="#s7">• Are their any other similar kind of programme that I might find of interest?</a><br>
              <a href="#s8">• How much time in a day do I need to give for KWoC?</a><br>
              <a href="#s9">• Will I receive a certificate at the end of the KWoC 2016?</a><br>
              <a href="#s10">• Which Programming language(s) do I need to be fluent in?</a><br>
              <a href="#s11">• Will taking part in KWoC help me in getting selected in KOSS?</a><br>
              <a href="#s12">• Whom should I contact or clear my doubts if my mentor is temporarily unavailable? </a><br>
              <a href="#s13">• Can I work on more than one project? </a><br>
              <a href="#s14">• Are there any deadlines during the session? Are those deadlines strict? What if I am unable to meet them due to some unavoidable reasons?</a><br>
              <a href="#s15">• Will this programme help me in improving competitive coding skills or get selected for ACM ICPC?</a><br>
              <a href="#s16">• What are the minimum contributions i have to do to get successful recognized as to have completed the programme?</a><br>

              <div style="font-size: 28px">Mentors</div>
              <div class="divider" style="height: 3px;"></div>
              <div style="font-size: 28px">General</div>

              <div class="faq-q" id="g1">1. I do not have any prior knowledge of git and/or any programming language. Can I do this?</div>
              <div class="faq-a">- Absolutely. This program specially is made for people like you who want to learn. We,the mentors, will help you wherever possible.</div>
              <div class="divider"></div>
              <div class="faq-q" id="g2">2. Where does KWoC occur? Do I need to stay in Kharagpur?</div>
              <div class="faq-a">- Kharagpur Winter of Code occurs entirely online; there is no requirement of staying back in the campus.</div>
              <div class="divider"></div>
              <div class="faq-q" id="g3">3. What is the purpose of this program? Is this some kind of internship?</div>
              <div class="faq-a">- No, this is just a program which helps the students to learn how to contribute in the open-source world. This activity prepares you for programs like Google Summer of Code.</div>
              <div class="divider"></div>
              <div class="faq-q" id="g4">4. Can I participate in KWoC as both a mentor and a student?</div>
              <div class="faq-a">- A student can work on any project as long as his work is evaluated/ reviewed by a KWoC mentor.</div>
              <div class="divider"></div>
              <div class="faq-q" id="g5">5. What can I do to help spread the word about KWoC?</div>
              <div class="faq-a">- Please visit our facebook page : KOSS and share our posts. You can also share the link of our website : KWoC. We would be very happy if you do that.</div>
              <div class="divider"></div>
              <div class="faq-q" id="g6">6. What if I have a question not answered in this FAQ?</div>
              <div class="faq-a">- Please make sure to read the website. If after reading through it you still don't have an answer please consider reaching out to our page.</div>
              <div class="divider"></div>
              <div class="faq-q" id="g7">7. What are the start and end dates of the programme?</div>
              <div class="faq-a">- The program starts on December 1, 2016 and ends on January 6, 2017.</div>

              <div class="divider" style="height: 3px;"></div>
              <div style="font-size: 28px">Students</div>

              <div class="faq-q" id="s1">1. Can I show the contributions that I have made in KWoC for participating in any competitions?</div>
              <div class="faq-a">- All the contributions that you will make in KWoC will be displayed on your GitHub timeline. So, that is a big plus if you are participating in any competitions and your github profile is on display.</div>
              <div class="divider"></div>
              <div class="faq-q" id="s2">2. Can I apply if I am not a student of IIT Kharagpur?</div>
              <div class="faq-a">- If you are not a student of IIT Kharagpur and yet have come to know about KWoC, then sure you can apply ! Although our aim of the prgram is to close monitor the students of the campus.</div>
              <div class="divider"></div>
              <div class="faq-q" id="s3">3. Is there any eligibility criteria?</div>
              <div class="faq-a">- There is no strict eligibility criteria as such. At the end of the day, you need to be a beginner at Open Source contributions and the will to learn.</div>
              <div class="divider"></div>
              <div class="faq-q" id="s4">4. When should I apply?</div>
              <div class="faq-a">- The last date of student registration is 14th December. That means you can apply anytime before that. But to take the maximum out of it, apply before 1st December.</div>
              <div class="divider"></div>
              <div class="faq-q" id="s5">5. Can you provide me any advice so that I can start preparing for it beforehand?</div>
              <div class="faq-a">- Play around git and github. Create an account on GitHub, set up git on your machine and start experimenting with it.</div>
              <div class="divider"></div>
              <div class="faq-q" id="s6">6. What are my chances of receiving a position in KWoC?</div>
              <div class="faq-a">- Pretty fair ! You need to be working for the whole month regardless of your expertise level.</div>
              <div class="divider"></div>
              <div class="faq-q" id="s7">7. Are their any other similar kind of programme that I might find of interest?</div>
              <div class="faq-a">- If you mean similar to KWoC, then this is the first time anything like this is happening in KGP. If you mean similar to GSoC, then look around, there are plenty of them e.g. KDE summer of code, Outreachy, Rails summer of code, etc.</div>
              <div class="divider"></div>
              <div class="faq-q" id="s8">8. How much time in a day do I need to give for KWoC?</div>
              <div class="faq-a">- GSoC requires 40 hours per week in summers. For KWoC, you may give 1-2 hours daily and that includes conversation with your mentor(s). More the project you choose, more time in conversing about the work.</div>
              <div class="divider"></div>
              <div class="faq-q" id="s9">9. Will I receive a certificate at the end of the KWoC 2016?</div>
              <div class="faq-a">- If you remain with us till the end of the program, then you'll most likely receive a certificate for completion of the prgram.</div>
              <div class="divider"></div>
              <div class="faq-q" id="s10">10. Which programming language(s) do I need to be fluent in?</div>
              <div class="faq-a">- Sky is the limit. You need to see the programming languages of the listed projects. But we recommend you one or more than one of Python, C++, JAVA and Javascript.</div>
              <div class="divider"></div>
              <div class="faq-q" id="s11">11. Will taking part in KWoC help me in being a part of KOSS?</div>
              <div class="faq-a">- Of course yes! :)</div>
              <div class="divider"></div>
              <div class="faq-q" id="s12">12. Whom should I contact or clear my doubts if my mentor is temporarily unavailable? </div>
              <div class="faq-a">- Contact us ASAP. Write to kossiitkgp@gmail.com.</div>
              <div class="divider"></div>
              <div class="faq-q" id="s13">13. Can I work on more than one project? </div>
              <div class="faq-a">- Yes sure! You can even work parallely on them.</div>
              <div class="divider"></div>
              <div class="faq-q" id="s14">14. Are there any deadlines during the session? Are those deadlines strict? What if I am unable to meet them due to some unavoidable reasons?</div>
              <div class="faq-a">- See the timeline for deadlines. In any case, make sure you keep us informed.</div>
              <div class="divider"></div>
              <div class="faq-q" id="s15">15. Will this programme help me in improving competitive coding skills or get selected for ACM ICPC?</div>
              <div class="faq-a">- This question is very debatable. Participating in Open Source contribution will improve your skills on software development and of a particular programming language. Depending on your project, you might be able to use some of the algorithms too. But direct implications on ICPC will not be very helpful.</div>
              <div class="divider"></div>
              <div class="faq-q" id="s16">16. What are the minimum contributions I have to do to get successfully recognized as to have completed the programme?</div>
              <div class="faq-a">- You need to have at least 3 Pull requests merged by the end of the program.</div>
              <div class="divider"></div>
              <div style="font-size: 10px">Please help us correct and improve FAQs by writing to us.</div>
            </div>
          </div>

        </div>
      </div>
    </div>


    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  </body>
</html>