<!DOCTYPE html>
<html>
  <head>
<meta name="viewport" content="user-scalable = no">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Custom css -->
    <link href="/static/css/resources.css" rel="stylesheet" type="text/css">
    <title>Media | Kharagpur Winter of Code | KOSS</title>
  </head>

  <body style="color:white;background-color:rgb(0, 5, 34); font-family: 'montserrat-regular', sans-serif;">

    <div style=" background-color:black; height: 80px;" class="nav-wrapper z-depth-1">
      <div class="row">
        <div class="container">
          <div align="right" style="padding-top: 20px" class="col s1">
            <img src ="/static/img/kwoc_logo.png" style = "width:60px; height: 60px; display:inline;">
          </div>
          <div style="padding-top: 40px;">
            <div class="col s4" style="color: white; font-size: 18px; font-weight: bold; letter-spacing: 1px; ">KHARAGPUR <b>WINTER OF CODE</b>
            </div>
            <div align="right">
              <a href="/" style="color: white; font-size: 18px; font-weight: bold;">HOME</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="padding-top: 50px;">
      <div class="row">
        <div class="col s2" style="background-color: rgb(247, 247, 247);">
          <br>
          <a style="color: black" href="/resources">Resources</a><br>
          <a style="color: black" href="/resources/timeline">Timeline</a><br>
          <a style="color: black" href="/resources/manuals">Manuals</a><br>
          <a style="color: black" href="/resources/social">Social Groups</a><br>
          <a href="/resources/media">Media</a><br>
          <a style="color: black" href="/resources/faq">FAQ</a><br>
          <a style="color: black" href="/resources/contact">Contact</a><br>
          <br>
        </div>

        <div class="col s9 offset-s1">
          <div class="row">
            <div class="col s12">
              <a style="color: white; font-size: 36px">Media</a><br><br><br>

            <div class="col s12" style="padding-top: 60px;">
              <a style="color: white; font-size: 28px;">Poster</a>
              <div class="divider"></div>
            </div>
            <div class="col s12" style="padding-top: 10px;">
              <div class="row">
                <div class="col s6">
                  <img src="/static/img/poster.jpg" style="max-width: 100%; max-height: 100%;">
                </div>
                <div class="col s6" style="font-size: 20px;">
                The countdown's over. Time for the big release of #KWOC!<br><br>

                As the semester is about to end, we are here with something you can make good use of, in your December vacations, we call it Kharagpur Winter of Code (KWoC). It is a December long online program. For those who already know about Google Summer of Code, KWoC is going to be very helpful for you. Register yourself as student and the instructions will follow you. For those who don't know about such open source programs, KWoC is a platform where you are going to learn about a new style of collaborative software development.<br><br>

                So, take some time and visit<br><br>

                http://kwoc.kossiitkgp.in/ <br><br>

                and register yourself.<br><br>

                Happy endsems!<br><br>

                - KOSS<br><br>
                <a href="https://www.facebook.com/kossiitkgp/photos/a.551030724973932.1073741826.524856034258068/1168721589871506/?type=3" target="_blank">Link #kwoc</a>
                </div>

              </div>



              <a style="color: white; font-size: 28px;">Teaser 3</a>
              <div class="divider"></div>
            </div>
            <div class="col s12" style="padding-top: 10px;">
              <div class="row">
                <div class="col s6" style="font-size: 20px;">
                "Hey Rico, it's coming, it's coming!"<br><br>
                "What is?"<br><br>
                "Winter. And a new Penguin."<br><br>
                <a href="https://www.facebook.com/kossiitkgp/photos/a.551030724973932.1073741826.524856034258068/1167828399960825/?type=3" target="_blank">Link #kwoc</a>
                </div>
                <div class="col s6">
                  <img src="/static/img/teaser3.jpg" style="max-width: 100%; max-height: 100%;">
                </div>
              </div>

              <a style="color: white; font-size: 28px">Teaser 2</a>
              <div class="divider"></div>
            </div>
            <div class="col s12" style="padding-top: 10px;">
              <div class="row">
                <div class="col s6">
                  <img src="/static/img/teaser2.jpg" style="max-width: 100%">
                </div>
                <div align="right" class="col s6" style="font-size: 20px;">
                "Patrick, Rufus! Come outside, the sun is up !"<br><br>
                "Yeah I know. Simba told me the weather forecast"<br><br>
                "Why was he looking at the forecast?"<br><br>
                "It had something to do with December"<br><br>
                <a href="https://www.facebook.com/kossiitkgp/photos/a.551030724973932.1073741826.524856034258068/1166736413403357/?type=3" target="_blank">Link #kwoc</a>
                </div>
              </div>
            </div>

            <div class="col s12" style="padding-top: 60px;">
              <a style="color: white; font-size: 28px;">Teaser 1</a>
              <div class="divider"></div>
            </div>
            <div class="col s12" style="padding-top: 10px;">
              <div class="row">
                <div class="col s6" style="font-size: 20px;">
                "Hey Bambi, what was up with Simba this morning?"<br><br>
                "Don't know mate, he said to wait 3 more days"<br><br>
                "Ah! Okay then. Fingers crossed"<br><br>
                <a href="https://www.facebook.com/kossiitkgp/photos/a.551030724973932.1073741826.524856034258068/1165960490147616/?type=3" target="_blank">Link #kwoc</a>
                </div>
                <div class="col s6">
                  <img src="/static/img/teaser1.jpg" style="max-width: 100%; max-height: 100%;">
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>


  </body>
</html>