<!DOCTYPE html>
<html>

<head>
<meta name="viewport" content="user-scalable = no">
    <title>Projects | Kharagpur Winter of Code | KOSS</title>
    <link rel="stylesheet" type="text/css" href="/static/css/projects.css">
    <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link rel="apple-touch-icon" sizes="57x57" href="/static/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">

</head>

<body style="color:white;background-color:rgb(0, 5, 34); font-family: 'montserrat-regular', sans-serif; padding-top: 0px">

<div style="background: black;height: 80px;padding-left: 50px; padding-right: 50px;">
    <div align="left">
        <div style="float: left;">
            <img src ="/static/img/kwoc_logo.png" style = "width:60px; height: 80px; padding-top: 10px; padding-bottom: 10px; display:inline;">
        </div>
        <div style="float: left;">
            <p style="color: white; font-size: 18px; line-height: 80px; letter-spacing: 1px; ">KHARAGPUR WINTER OF CODE</p>
        </div>
    </div>
    <div style="float: right;">
        <a href="/" style="color: white; font-size: 18px; line-height: 80px;">HOME</a>
    </div>
</div>

    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 style="font-family: 'Lombok'; font-size: 50px; font-weight: bold; text-align: center;" class="page-header">KWOC PROJECTS</h1>
            </div>
            {% for project in projectsData %}
            <div class="col-md-4">
                <div class="panel panel-default" style="background:#24242D;border: 0px;border-radius: 0px">
                    <div class="panel-heading" style="background: #5498CC; border-color: #5498CC; color: white;cursor: pointer;" onclick="window.open('{{project.projectLink}}', '_blank');" >
                    <a target="_blank" href="{{project.orgLink}}">
                    <img src="{{project.imageURL}}" style="position: absolute;right:30px;top:15px;height:30px;width:30px;border-radius:20px;border-color: white;"> 
                    </a>
                        <h4><i class="fa fa-fw fa-github"></i> {{' '.join(project.projectName.split()[:2])}}</h4>
                    </div>
                    <div class="panel-body" style="height:130px" data-toggle="modal" data-target="#{{project.id}}">
                        
                        <p style="font-size: 14px">{{' '.join(project.projectDescription.split()[:15])+"..."}}</p>
                        <a target="_blank" href="{{project.projectLink}}" style="color: rgb(255,255,255)">
                        <div style="float: left;position: absolute;bottom:25px;"><i class="fa fa-fw fa-code-fork" ></i><p style="font-size: 11px;float: right;">{{project.forkno}}</p></div>
                        </a>
                        <a target="_blank" href="{{project.projectLink}}" style="color: rgb(255,255,255)">
                        <div style="float: left;position: absolute;left:75px;bottom:25px;"><i class="fa fa-fw fa-star" ></i><p style="font-size: 11px;float: right;">{{project.watcherno}}</p></div>
                        </a>
                        <button type="button" style="font-size: 12px; font-style: italic; color: white;position: absolute;right:30px;bottom:30px;border: 0px;border-radius: 0px;background: #24242D" class="btn btn-default">More</button>
                    </div>
                </div>
            </div>
            <div id="{{project.id}}" class="modal fade" role="dialog">
                    <div class="modal-dialog" >
                        <!-- Modal content-->
                        <div class="modal-content" style="background:#24242D;border: 0px;border-radius: 0px">
                            <div class="modal-header" style="background: #5498CC; border-color: #5498CC; color: white;" >
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">{{project.projectName}}</h4>
                            </div>
                            <div class="modal-body">
                                <p>{{project.projectDescription}}</p>
                                <br>
                                <p>Mentor : {{project.name}}<br>
                                    Contact : <a href="mailto:{{project.email}}" target="_blank">{{project.email}}</a>
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" style="font-size: 12px; font-style: italic; color: white; border: 0px;border-radius: 0px;background: #24242D" class="btn btn-default" onClick="window.open('{{project.projectLink}}');">View on GitHub</button>
                                <button type="button" style="font-size: 12px; font-style: italic; color: white;border: 0px;border-radius: 0px;background: #24242D" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- Making Image clickable -->
        <script>
        $(document).ready(function() {
            $('img#projectIm').click(function() {
                window.location.href = this.id + '.html';
            });
        });
        </script>
        <!-- jQuery -->
        <script src="/static/vendor/jquery/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
