<!DOCTYPE html>
<html>
  <head>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css"  media="screen,projection"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Custom css -->
    <link href="/static/css/resources.css" rel="stylesheet" type="text/css">
    <title>Resources | Kharagpur Winter of Code | KOSS</title>
  </head>

  <body style="color:white;background-color:rgb(0, 5, 34); font-family: 'montserrat-regular', sans-serif;">

    <div style=" background-color:black; height: 80px;" class="nav-wrapper z-depth-1">
      <div class="row">
        <div class="container">
          <div align="right" style="padding-top: 20px" class="col s1">
            <img src ="/static/img/kwoc_logo.png" style = "width:60px; height: 60px; display:inline;">
          </div>
          <div style="padding-top: 40px;">
            <div class="col s4" style="color: white; font-size: 18px; font-weight: bold; letter-spacing: 1px; ">KHARAGPUR <b>WINTER OF CODE</b>
            </div>
            <div align="right">
              <a href="/" style="color: white; font-size: 18px; font-weight: bold;">HOME</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="padding-top: 50px;">
      <div class="row">
        <div class="col s2" style="background-color: rgb(247, 247, 247);">
          <br>
          <a href="/resources">Resources</a><br>
          <a style="color: black" href="/resources/timeline">Timeline</a><br>
          <a style="color: black" href="/resources/manuals">Manuals</a><br>
          <a style="color: black" href="/resources/social">Social Groups</a><br>
          <a style="color: black" href="/resources/media">Media</a><br>
          <a style="color: black" href="/resources/faq">FAQ</a><br>
          <a style="color: black" href="/resources/contact">Contact</a><br>
          <br>
        </div>

        <div class="col s9 offset-s1">
          <a style="color: white; font-size: 36px">Resources</a>
          <ul style="color: white; font-size: 18px;">
            <li>• <a href="/resources/timeline">Timeline</a> - Important milestones and deadlines </li>
            <li>• <a href="/resources/manuals">Manuals</a> - Detailed guides and tips for Students and Mentors</li>
            <li>• <a href="/resources/social">Social Groups</a> - Mailing list and Facebook Groups</li>
            <li>• <a href="/resources/media">Media</a> - Online publicity</li>
            <li>• <a href="/resources/faq">FAQ</a> - Frequently Asked Questions</li>
            <li>• <a href="/resources/contact">Contact</a> - In case of any query, Contact us!</li>
          </ul>
        </div>
      </div>
    </div>

  </body>
</html>