<!doctype html>
<html lang="en">
<head>
  <link rel="shortcut icon" href="/static/images/kwoc_logo.png">
  <title>Register for Open Source Summit (KWoC 2017)</title>
  <style type="text/css">
    body, html {
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-color: #E5F3F5;
    }

    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 1em;
      padding-bottom: 0.1em;
    }

    .header p {
      font-family: verdana;
    }
  </style>
</head>
<body>

  <div class="header">
    <p style="font-size: 2em">Register for Open Source Summit (KWoC 2017)</p>
    <p>Check Schedule: <a href="/summit">https://kwoc.kossiitkgp.in/summit</a></p>
    <p>Note: You also have to register on Kshitij (<a target="_blank" href="http://ktj.in">http://ktj.in</a>) to complete the registration</p>
  </div>

  <iframe id="iframe" src="https://kossiitkgp.tellform.com/#!/forms/5a5ae7536960d9c00145db04" style = "width:100%; height:80vh; border: none;"></iframe>


</body>
</html>
