<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="user-scalable = no">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Custom css -->
    <link href="/static/css/resources.css" rel="stylesheet" type="text/css">
    <title>Timeline | Kharagpur Winter of Code | KOSS</title>

    <style type="text/css">
      tr td {
        max-width: 300px;
        white-space:normal;
        color: #aaaaaa;
      }

      @media only screen and (max-width: 992px)
      table.responsive-table tbody {
          display: block;
          width: auto;
          position: relative;
          overflow-x: auto;
          white-space: nowrap;
      }
    </style>
  </head>

  <body style="background-color:rgb(0, 5, 34); font-family: 'montserrat-regular', sans-serif;color:white;">

    <div style=" background-color:black; height: 80px;" class="nav-wrapper z-depth-1">
      <div class="row">
        <div class="container">
          <div align="right" style="padding-top: 20px" class="col s1">
            <img src ="/static/img/kwoc_logo.png" style = "width:60px; height: 60px; display:inline;">
          </div>
          <div style="padding-top: 40px;">
            <div class="col s4" style="color: white; font-size: 18px; font-weight: bold; letter-spacing: 1px; ">KHARAGPUR <b>WINTER OF CODE</b>
            </div>
            <div align="right">
              <a href="/" style="color: white; font-size: 18px; font-weight: bold;">HOME</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="padding-top: 50px;">
      <div class="row">
        <div class="col s2" style="background-color: rgb(247, 247, 247);">
          <br>
          <a style="color: black" href="/resources">Resources</a><br>
          <a href="/resources/timeline">Timeline</a><br>
          <a style="color: black" href="/resources/manuals">Manuals</a><br>
          <a style="color: black" href="/resources/social">Social Groups</a><br>
          <a style="color: black" href="/resources/media">Media</a><br>
          <a style="color: black" href="/resources/faq">FAQ</a><br>
          <a style="color: black" href="/resources/contact">Contact</a><br>
          <br>
        </div>

        <div class="col s9 offset-s1">
          <a style="color: white; font-size: 36px">Timeline</a>
          <table class="bordered highlight responsive-table">
            <thead>
              <tr>
                <th>Date</th>
                <th>Event</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>November 30</td>
                <td>KWoC Intro Seminar along with Git and GitHub workshop at IIT Kharagpur</td>
              </tr>
              <tr>
                <td>December 1</td>
                <td><b>Projects released</b>. Students begin contacting mentors of their preferred projects</td>
              </tr>
              <tr>
                <td>December 8</td>
                <td><b>Deadline of project submission</b> by mentors. Project list updated. A <b>live Leaderboard</b> enlisting all the student contributions released. </td>
              </tr>
              <tr>
                <td>December 14</td>
                <td><b>Last date of student registration</b></td>
              </tr>
              <tr>
                <td>December 15</td>
                <td><b>Mid-term evaluation begins</b>. At least one PR is mandatory at this point.</td>
              </tr>
              <tr>
                <td>December 22</td>
                <td><b>Mid-term evaluation ends</b>. Leaderboard will not contain any student with no Pull Request.</td>
              </tr>
              <tr>
                <td>December 29</td>
                <td><b>Pencils down date</b>. Students start making report of their work and writing tests, documentation and making style fixes.</td>
              </tr>
              <tr>
                <td>January 6</td>
                <td><b>Deadline for report submission</b>. Leaderboard will not change beyond this point.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


  </body>
</html>